<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <form action="/login" method="post">
    <label for="email">Email: </label>
    <input type="text" name="email">
    <label for="password">Password: </label>
    <input type="text" name="password"><br><br>
    <input type="submit" value="Log In">
  </form>
</div>

<div class="container">
  <h3>Create a New Account:</h3>
  <form action="/create_user" method="post">
    <label for="name">Full Name:</label><br>
    <input type="text" name="name"><br><br>
    <label for="email">Email:</label><br>
    <input type="text" name="email"><br><br>
    <label for="password">Password:</label><br>
    <input type="text" name="password"><br><br>
    <input type="submit" value="Create Account">

  </form>
</div>
