body {
  color: #1C1E26;
  font-family: 'Muli', sans-serif;
}

.border {
  border-bottom: 1px solid;
}

.margin-top {
  margin-top: 40px;
}

.header {
  margin: 0;
  padding: 25px 0;
  background: #1C1E26;
  color: white;
  border-bottom: 5px solid #2ABAAD;
}

.deck {
  margin: auto;
  width: 600px;
  text-align: center;
}

.container {
  margin: auto;
  width: 600px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#links li:first-child {
  float: left;
  padding-right: 460px;
}

a {
  text-decoration: none;
  color: #2ABAAD;
}

a:hover {
  color: #1C1E26;
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
}

h3 {
  padding: 20px;
  text-align: center;
}

#login input {
  background: #1C1E26;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
}

#login input[type=submit] {
  background: white;
  border: 0;
  color: black;
  padding: 10px 20px;
}

input[type=submit] {
  background: #1C1E26;
  color: white;
  padding: 10px 30px;
  border: 0;
}

.radioleft {
  text-align: justify;
  margin-left: 270px;
}

.formtable {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

table.formtable , .formtable td{
  border: none;
  float:left;
  width: 100%;
}


.large-button {
  font-weight: 700;
  padding: 5px 5px;
  background-color:#fafbfb;
  font-size:0.8em;
  border-radius: 4px 4px 4px 4px;
}

table, td, th {
  border: 1px solid black;
  padding: 5px;
  width: 100%;
}

th {
  color: #2ABAAD;
}
