body {
  color: #1C1E26;
  font-family: 'Muli', sans-serif;
}

.border {
  border-bottom: 1px solid;
}

.margin-top {
  margin-top: 40px;
}

.header {
  margin: 0;
  padding: 25px 0;
  background: #1C1E26;
  color: white;
  border-bottom: 5px solid #2ABAAD;
}

.deck {
  margin: auto;
  width: 600px;
  text-align: center;
}

.container {
  margin: auto;
  width: 600px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#links li:first-child {
  float: left;
  padding-right: 460px;
}

a {
  text-decoration: none;
  color: #2ABAAD;
}

a:hover {
  color: #1C1E26;
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  /*padding-bottom: 20px;*/
}

h3 {
  /*border-bottom: 1px solid ;*/
  padding: 20px;
  text-align: center;
}

#login input {
  background: #1C1E26;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
}

#login input[type=submit] {
  background: white;
  border: 0;
  color: black;
  padding: 10px 20px;
}

input[type=submit] {
  background: #1C1E26;
  color: white;
  padding: 10px 30px;
  border: 0;
}

.tiny-button {
  font-weight: 400;
  padding: 1px 2px;
  background-color:#fafbfb;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafbfb), dadbfb6dbb));
  background: -webkit-linear-gradient(top, #fafbfb, #dadbfb);
  background: -moz-linear-gradient(top, #fafbfb, #dadbfb);
  background: -o-linear-gradient(top, #fafbfb, #dadbfb);
  background: linear-gradient(top, #fafbfb, #dadbfb);
  font-size:0.7em;
  -webkit-border-radius: 15px 0px 0px 15px;
  -moz-border-radius: 15px 0px 0px 15px;
  border-radius: 15px 0px 0px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
  box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}

.post-title {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}
.bost-body{
  padding: 5px 10px 5px 10px;
  margin-bottom: 2px;
}

.navbuttons {
  background-color: lightgray;
  width: 50%;
  padding: 5px;
  clear: both;
}
.navbuttons li {
  margin: 10px;
  padding: 0px;
  display: inline;
  float: none;
}

.formtable {
  background-color: lightgray;
  width: 100%;
  border-radius: 4px 4px 4px 4px;
  padding: 10px;
  margin-bottom: 10px;
}


.large-button {
  font-weight: 700;
  padding: 5px 5px;
  background-color:#fafbfb;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafbfb), dadbfb6dbb));
  background: -webkit-linear-gradient(top, #fafbfb, #dadbfb);
  background: -moz-linear-gradient(top, #fafbfb, #dadbfb);
  background: -o-linear-gradient(top, #fafbfb, #dadbfb);
  background: linear-gradient(top, #fafbfb, #dadbfb);
  font-size:0.7em;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
  box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}

table, td {
  border: 1px solid black;
}



