<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Choose a deck!</p>

  <% @deck.each do |deck| %>
  <ul>
    <li><a href="deck/<%= deck.name %>"><%= deck.name %></a></li>
  </ul>
  <% end %>
  <a href="/log_out">Log Out</a>
  <a href="/users/<%= @current_user.id%>/stats">My Stats</a>

</div>
